    /* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');
/* Font Family - font-family: 'Noto Sans', sans-serif; */

:root {
    --white: #FFFFFD;
    --grey: #b8b8b8;
    --black: #1f1f1f;
    --red: #ff0000;
    --green: #00ff00;
    --hue-blue: 200;
}

/* Element Styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;   /* 1rem becomes = 10px */
    width: 100vw;
}

body {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--white);
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.1875rem;
    text-align: center;
    font-size: large;
}

body::before {
    background-color: rgb(190, 190, 190);
}

header {
    min-width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:none;
    background-color: var(--white);
}

footer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: var(--grey);
    min-height: 4rem;
    width: 100%;
}

section {
    background-color: var(--white);
    margin: 1vh 4vw ;
    min-height: 30rem;
    border: 2px solid var(--black);
}

img {
    width: 100%;
}

/* Hide Scroll Bar */
body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* Font Helper Classes */
.font-w600 {
    font-weight: 600;
}

.upper {
    text-transform: uppercase;
}

.hide {
    display: none !important;
}

/* Header Styling */
#header-logo {
    height: calc(1.5rem + 2vw);
    width: calc(1.5rem + 2vw);
    padding: 1rem;
    margin-right: 2rem;
}

/* Landing Page Styling */
#landing-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing-screen img {
    margin: 0 20%;
    max-width: 100%;
}

#landing-screen p {
    padding: 2rem 3rem 1rem 3rem;
}

/* Learn Screen Styling */
.learn-img {
    display: flex;
    justify-content: center;
}

.learn-img img {
    width: 70%;
}

/* Quiz Screen Styling */
#game-info{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

#quiz-begin {
    padding: 3rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#quiz-begin:hover {
    background-color: var(--green);
}

#quiz-begin:active {
    background-color: var(--green);
    box-shadow:  2px 2px var(--grey) inset;
}

#quiz-grid-image {
    grid-area: image;
    max-height: 500px;
}
#quiz-grid-question {
    grid-area: question;
}
#quiz-buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    margin: 20px 0;
}

#quiz-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin: 20px 0;
    grid-template-areas: 
    "image  image"
    "question question"
    "buttons buttons";
}

#quiz-image{
    max-width: auto;
    max-height: 100%;
}

.q-buttons {
    background-color: hsl(var(--hue-blue), 100%, 60%);
    border: 1px solid hsl(var(--hue-blue), 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    max-height: 70px;
    max-width: 250px;
}

.q-buttons:hover {
    background-color: hsl(var(--hue-blue), 100%, 30%);
    border: 1px solid hsl(var(--hue-blue), 100%, 60%);
    color: var(--white);
}

.correct {
    background-color: var(--green);
}

.incorrect {
    background-color: var(--red);
}

/* Common Styles */
.screen{
    margin-bottom: calc(4rem + 5vh);
    max-width: 80%;
    position: relative;
    padding: 0 1rem 2rem 1rem;
    font-size: 14px;
}

.screen h2 {
    padding: 1rem 1rem;
    font-size: medium;
}

.nav {
    min-width: 100%;
    clear: both;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 4rem 0 1rem;
}

.nav-button {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
    padding: 8px 22px;
    border-radius: 4px;
    font-weight: bold;
    margin: 0 1rem;
    display: inline-block;
}

.nav-button:hover {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--black);
}

/* Footer Styling */
a>i {
    font-size: 160%;
    color: var(--black);
}

#footer-socials {
    width: 100%;
}

.footer-list li {
    margin: 1rem 2rem;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    #quiz-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: minmax(5rem, auto);
        grid-template-areas: 
        "question question image"
        "buttons buttons image"
        "buttons buttons image";
    }

    #landing-screen img {
        margin: 0 20%;
        max-width: 50%;
    }

    #learn-screen img {
        width: 50%;
    }
}
/* Button Animations - taken from https://ianlunn.github.io/Hover/*/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }